/* GLOBAL STYLES */
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: cadetblue;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}
hr{
  width: 90px;
  height: 3px;
  background-color: orange;
  margin-left: 0;
}
p{
  text-transform: uppercase;
}
.container{
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}


/* CARD */
.card{
  max-width: 320px;
  width: 100%;
  border: 1px solid #222;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #fff;
  overflow: hidden;
}
.card:not(:nth-child(3n)){
  margin-right: 20px;
}
.img-wrapper{
  position: relative;
}
.card__img{
  border: 1px solid #222;
}
.card__wrapper{
  padding: 20px;
}
.card__text{
  margin: 0;
}
.absolut-1{
  position: absolute;
  top: -13px;
  left: 3px;
  background-color: blue;
  color: chocolate;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
}
.absolut-2{
  position: absolute;
  bottom: -9px;
  left: 3px;
  background-color: darkorange;
  color: blue;
  padding: 5px;
  border-radius: 3px;
}