body{
  background-color: #9999;
}
.container{
display: flex;
margin-top: 100px;
padding: 100px;
justify-content: center;
margin-right: auto;
margin-left: auto;
}
.div1{
  padding: 10px;
  width: 500px;
  height: 450px;
  background-color: #fff;
  margin-right: 30px;
}
.absolut-1{
  top: -15px;
  position: absolute;
  display: inline-block;
  background-color: rgb(96, 96, 249);
  color: #fff;
  border-radius: 2px;
  padding: 1px 4px;
}
.absolut-2{
  bottom: 60px;
  position: relative;
  display: inline-block;
  background-color: chocolate;
  color: #fff;
  border-radius: 2px;
  padding:5px 20px ;
}
.imgdiv{
  position: relative;
  height: 360px;
}
.p1{
  margin-top: 0px;
}
.line{
  width: 100px;
  height: 3px;
  background-color: rgb(255, 128, 0);
  position: relative;
  right: 198px;
}